<template name="header">
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <li><a id="login" scr="">{{> loginButtons}}</a></li>

                    <ul class="right hide-on-med-and-down">


                    </ul>
                </div>
            </nav>
        </div>

    </header>
</template>

<template name="form">
    {{#if currentUser}}
    <form class="add-new-post">
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Message" />
        <div class="file-field input-field">
            <div class="btn">
                <span>Image File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
        </div>
        <div class="center-button">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </div>
    </form>
    {{/if}}
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            <div class="card">
                <div class="card-image">
                    <img src=" {{displayImages this.imageId}}" />
                    <span class="card-title">{{this.name}}</span>
                </div>
                <div class="card-content">
                    <p>{{this.message}}</p>
                    {{this.createdAt}}
                    <a class="delete-task"><i class="material-icons">delete</i></a>
                </div>

            </div>
            {{updateMasonry}}
        </div>
        {{/each}}
    </div>
</template>