.grid-sizer, .grid-item {
width: 32%;
}

.grid-item img {
display: block;
    max-width: 100%;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}

.add-new-post {
  margin: 0 auto;
    width: 75%;
}

.nav-wrapper {
background-color: black;
}

.btn {
background-color: black;
}


h1 {
color: whitesmoke;
}

